@font-face {
    font-family: "Galpon-Black"; /* Гарнитура шрифта */
    src: url(../fonts/Galpon-Black.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "CCTimSaleLower"; /* Гарнитура шрифта */
    src: url(../fonts/v_CCTimSaleLower_v1.1.ttf); /* Путь к файлу со шрифтом */
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #efefef;
    font-family: "Roboto";
    height: 2000px;
}

.container {
    width: 1193px;
    margin: 0 auto;
}

/*==== HEADER MENU ====*/

/*header bg*/
.header_bg{
    /* Style for "Vector Sma" */
    width: 1193px;
    height: 142px;
    background-image: url("../img/bg/menu.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    position: fixed;
    z-index: 50;
}
/*top-memu*/
.top-menu{
    display: flex;
    align-items: center;
}

/*Logo in header*/
.header-logo{
    display: inline-block;
    margin-left: 129px;
}
/*menu header*/
.nav-container{
    display: inline-block;
    margin: 0 auto;
    width: 634px;
}
.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
}
.nav-container ul li{
    list-style-type: none; /* Убираем маркеры */
    display: inline;
}
.nav-container ul li a{
    font-family: "CCTimSaleLower";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.social-buttons{
    display: inline-block;
    margin-right: 129px;
}
/*icons instogram*/
.icons-instogram{
    /* Style for "Vector Sma" */
    width: 37px;
    height: 36px;
    margin-right: 17px;
}

/*login-menu*/
.login-menu-wrapper{
    display: flex;
    justify-content: center;
}
.login-menu{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    
}
.login-menu form{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
}
/*button login*/
.login-menu form button{
    display: inline-block;
    border: 0 !important;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.login-menu form input{
    border: 0px;
    background-color: #efefef;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    font-family: "CCTimSaleLower";
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

/*records*/
.header_bg .records{
    margin: 0 auto;
    width: 145px;
    margin-top: 6px;
}
.header_bg .records a{
    font-family: "CCTimSaleLower";
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/*==== SLIDER AGENTS123====*/

/*BG for slide of magazine-agent123*/
.bg-mag-agent123{
    /* Style for "fon\" */
    position: relative;
    height: 645px;
    /* opacity: 0.78; */
    background-image: url("../img/bg/bg-slider-magazine-agents123-2.png");
    background-repeat: no-repeat;
    background-position: 0% 40%;
}
.bg-end-line{
    position: absolute;
    bottom: 0px;
    background-image: url("../img/bg/line-end-slider.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 100%;
    opacity: 1;
    z-index: 1;
}

.h2-slider-agent123{
    text-align: center;
    width: 681px;
    margin: 0 auto;
    padding-top: 141px;
    color: #b70c7e;
    font-family: "Galpon-Black";
    font-size: 38px;
    font-weight: 400;
    opacity: 1;
}

.img-logo-agent{
    display: flex;
    justify-content: start;
    align-items:flex-end;
    /* Style for "Vector Sma" */
    margin: 0 auto;
    margin-top: 81px;
    width: 320px;
    height: 152px;
    background-image: url("../img/logo-agenty.png");
    background-repeat: no-repeat;
    opacity: 1;
}
.img-logo-agent .btn-read{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/buttons/bnt-reading.png');
    background-repeat: no-repeat;
    width: 151px;
    height: 33px;
}
.img-logo-agent .btn-read a{
    text-decoration: none;
    color: #6c1b78;
    font-family: "CCTimSaleLower";
    font-size: 32px;
    font-weight: 400;
    padding-top: 1px;
}
.img-logo-agent .btn-read :hover{
    cursor: pointer;
}

.ars-slider-agents123{
    position: absolute;
    left: 0px;
    bottom: 10px;
    /* Style for "ars" */
    width: 246px;
    height: 421px;
    background-image: url("../img/ars.png");
    background-repeat: no-repeat;
    z-index: 2;
}

.buk-slider-agents123{
    position: absolute;
    left: 200px;
    bottom: 10px;
    /* Style for "ars" */
    width: 223px;
    height: 359px;
    background-image: url("../img/buk.png");
    background-repeat: no-repeat;
    z-index: 2;
}
.bab-slider-agents123{
    /* Style for "bab" */
    position: absolute;
    width: 86px;
    height: 89px;
    left: 64px;
    top: 100px;
    background-image: url("../img/bab.png");
    background-repeat: no-repeat;
    z-index: 3;
}
/*Орущий*/
.xz-slider-agents123{
    /* Style for "Slice 1" */
    width: 265px;
    height: 433px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-image: url("../img/xz.png");
    background-repeat: no-repeat;
    z-index: 3;
}
.devka-slider-agents123{
    /* Style for "Layer 28" */
    width: 213px;
    height: 361px;
    position: absolute;
    right: 228px;
    bottom: 8px;
    background-image: url("../img/devka.png");
    background-repeat: no-repeat;
    z-index: 3;
}

/**==== SLIDER ONLINE ====**/
.bg-slider-online{
    /* Style for "fon\" */
    position: relative;
    height: 645px;
    /* opacity: 0.78; */
    background-image: url("../img/bg/bg-slider-online-2.png");
    background-position: 50% 100%;
}
.bg-slider-online .h2-slider-agent123{
    width: 800px;
}

.bg-slider-online .h3-slider-online{
    /* Style for "Дистанцион" */
    text-align: center;
    width: 713px;
    color: #71196f;
    font-family: "CCTimSaleLower";
    font-size: 35px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 30px;
}
.bg-slider-online .btn-run{
    /* Style for "Vector Sma" */
    width: 195px;
    height: 95px;
    margin: 0 auto;
}
.bg-slider-online .btn-run :hover{
    margin-top: 3px;
}